html {
    background: beige;
    display: table;
    margin: auto;
}
body {
    color: black;
    width: 100%;
    max-width: 800px;
    display: table-cell;
    vertical-align: middle;
    line-height: 165%;
}
nav ul, footer ul {
    font-family: "Times New Roman", Times, serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: blue;
    background: azure;
}
a:hover {
    text-decoration: underline;
    background: yellow;
}
a:active {
    background: yellow;
}
p2 {
    font-size: 2.4em;
    margin-top: .3em;
    margin-bottom: .3em;
}
p3 {
    font-size: 2.1em;
    margin-top: .3em;
    margin-bottom: .3em;
}
p {
    font-size: 1.4em;
    color: black;
    margin-top: .3em;
    margin-bottom: .3em;
    text-align: justify;
}
img {
  width: auto ;
  max-width: 100% ;
  height: auto;
  height: auto;
}
img.profile {
    margin-left: .3em;
    margin-bottom: .3em;
}
audio { 
   width: 100%; }
footer {
    border-top: 1px solid #d5d5d5;
    margin: 20px auto 40px; 
    font-size: .8em;
    font-family:'Helvetica';
    color: blue;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 2em;
}
ul.posts li {
    list-style: none;
}
