body {
    background-color: black;
    color: white;
    margin: 60px 120px;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #CF5338;
}
a:hover {
    text-decoration: underline;
}
p2 {
    font-size: 2em;
    font-family:'Helvetica';
    line-height: 1.4em;
}
p3 {
    font-size: 1.5em;
    font-family:'Helvetica';
     line-height: 1.4em;
}
p {
    font-size: 1em;
    font-family:'Helvetica';
    line-height: 1.4em;
    width: 50%;
    color: #333;
}
img {
  width: auto ;
  max-width: 100% ;
  height: auto;
  height: auto;
}
footer {
    border-top: 1px solid #d5d5d5;
     margin: 20px auto 40px; 
    font-size: .8em;
      font-family:'Helvetica';
     color: #6B6DFA;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

