<!DOCTYPE html>
	<html>
		<head>
			<meta name="description" content="is creating audio content for podcasts and radio.">
  <meta property="og:image" content="https://conorgillies.com/A184620_020.jpg%20copy.jpg">
			<title>{{ page.title }}</title>
			<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138673224-1');
</script>
		</head>
		<body>	
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			<ul><li>
				<a href="mailto:conor@conorgillies.com"><font color="blue">email</font></a></li>
				<li> <a href="https://twitter.com/conorgillies" target=”_blank”><font color="blue">twitter</font></a></li>
				<li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
				</ul>
				
			</footer>
		</body>
	</html>
