<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138673224-1');
</script>
		</head>
		<body>	
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			<ul><li>
				<a href="mailto:rosie@rosiegillies.com"><font color="#A0E37C">email</font></a></li>
				<li> <a href="https://twitter.com/breadandrosie" target=”_blank”><font color="#A0E37C">twitter</font></a></li>
				<li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
				<li>illustration by <a href="https://colleentigheart.com" target="_blank">colleen tighe</a></li>
				</ul>
				
			</footer>
		</body>
	</html>
